@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");


.sec-form{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100wh;
}
.formulario {
 
  width: 100%; /* Ancho máximo del formulario */
  background-color: rgba(38, 38, 38, 1);
  border: 5px solid rgba(107, 209, 255, 1);
  color: white;
  font-weight: lighter;
  padding: 1%;
  border-radius: 15px; /* Bordes redondeados para el formulario */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario h1, .formulario h2, .formulario h3 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}

.formulario h1 {
  font-size: 60px;
  font-weight: 900;
}

.formulario h2 {
  font-size: 20px;
  font-weight: 400;
}

.formulario h3 {
  font-size: 36px;
  font-weight: 600;
}

.formulario label {
  display: block;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
}

.formulario input, .formulario textarea, .formulario select {

  padding: 1%;
  border-radius: 15px;
  border: 3px solid rgb(66, 63, 63); /* Borde gris oscuro */
  background:none;
  color: white;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 20px;
  font-weight: 600;
 
}


.formulario textarea {
  height: 220px;
  resize: none; /* Previene el redimensionamiento */
  width: calc(350px*2);
  min-width: 350px;
}

.formulario select {
  height: 62px;
}

.formulario hr {
  border: 1px solid rgb(66, 63, 63); /* Borde gris oscuro */
  margin: 20px 0; /* Margen vertical */
  width: 100%;
}

 .group1,  .group2 {
  width:80%;
 
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}


.formulario .botonesform {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.boton {
  cursor: pointer;
  width: 180px;
  height: 54px;
  border-radius: 10px;
  background-color: rgba(38, 38, 38, 1);
  color: white;
  border: 2px solid rgb(238, 239, 241); /* Borde blanco */
  font-family: 'Source Sans 3', sans-serif;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  line-height: 54px; /* Centra el texto verticalmente */
}

.boton:hover {
  background-color: rgba(107, 209, 255, 1); /* Cambio de color al pasar el cursor */
  border-color: white;
}
@media (max-width: 600px) {
  .formulario{
    width: 90%;
    gap:0;
  }
.formulario .group1, .formulario .group2{
  width: 100%;
  flex-direction: column;
  gap: 0;
  align-items: flex-start;
}
.formulario .group1 input, .selec, .formulario textarea{
  width: 100%;
}
.botonesform{
  flex-direction: column;
  align-items: center;
}
}
