
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.tittle-card{
width: 432px;
height: 92px;
border-radius: 15px;

display:flex;
justify-content: center;
align-items: center;

}
.tittle-card p{
color: white;
font-family: Roboto;
font-size: 32px;
font-weight: 800;
white-space: nowrap; /* Evita el salto de línea */
margin: 0;
padding: 0;
}